﻿html {
  height: 100%;
  background: #f8f9fa;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #f8f9fa;
    font-family: Roboto,sans-serif;
}

.menu__list {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #f8f9fa;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 1920px;
````height: 80px;
}


.menu {
  background: #f8f9fa;
  padding: 0px;
  color: #32313a;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  top: 0;

}

.header{
    background: #f46e46;

    width: 1920px;
    height: 560px;
    background: linear-gradient(to bottom, #f46137, #f49146);
}

.menu__list-link{
    font-family: Roboto,sans-serif;
    color:  #32313a;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
    line-height: 103px
}

.popular_napr{
    font-family: Roboto;
    color:  #32313a;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    }


.search{
    font-style: italic;
    width = 100%
    margin-bottom: 200px;
    text-align: center;
}
.content {
    background: #f8f9fa;
    height: 100%;
    font-family: Roboto,sans-serif;
    color:  #32313a;
    fborder-radius: 4px;
    background-color:  #ffffff;
    box-shadow: 1px 2px 0.99px 0.01px rgba(132, 126, 126, 0.25);
    width: 1230px;
    height: 100%;
    margin-bottom: auto;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 120px;
}


form {
  position: relative;
  margin-left: 31%;
}
/*input {
    border-radius: 6px;
    background-color:  #f8f9fa;
    margin-left: 31%;
    height: 70px;
    font-family: Roboto,sans-serif;
	color:  #32313a;
	font-size: 30px;
	font-weight: 300;
	text-align: left;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	outline:none;
} */

input {
	margin-left: 31%;
    width: 700px;
	height: 70px;
	margin: 0;
    padding: 0px 30px;
    font-family: Roboto,sans-serif;
	color:  #32313a;
	font-size: 24px;
	font-weight: 300;
    background-color: #f8f8f8;
    border: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
button {
	color: #fff;
    background-color:  #05b281;
	text-shadow: -1px 1px #417cb8;
	border: none;
	display: inline-block;
	padding: 15px 30px;
 	font-size: 24px;
    font-weight: 400;
    height: 70px;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: Roboto,sans-serif;
    color:  #ffffff;

	box-shadow: none;

}
button:hover {
	color: #fff;
    background-color:  #06a074;
	text-shadow: -1px 1px #417cb8;
	border: none;
	display: inline-block;
	padding: 15px 30px;
 	font-size: 24px;
    font-weight: 400;
    height: 70px;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: Roboto,sans-serif;
    color:  #ffffff;

	box-shadow: none;

}

.text {
    font-family: Roboto,sans-serif;
    color:  #f8f9fa;
    font-size: 60px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    padding: 40px;
}

.small-text {
    font-family: Roboto,sans-serif;
    color:  #f8f9fa;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin-top: 100px;

    /* Встроенный стиль */
    font-family: Roboto,sans-serif;
    color:  #f8f9fa;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;

}

.middle{
    font-family: Roboto,sans-serif;
    color:  #32313a;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-left: 30px;
}

.picture{
    margin-top: 50px;
    flex-grow: 1;
}


.hard{
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 60px;
    background-color:  #f46137;
    width: 400px;
    height: 26px;
    border-radius: 1500px; /* Радиус скругления */
    border: 3px; /* Параметры рамки */
    font-family: Roboto,sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}

.element{
    border-radius: 4px;
    background-color:  #ffffff;
    box-shadow: 1px 2px 0.99px 0.01px rgba(132, 126, 126, 0.25);
    width: 1190px;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.tag{
    word-break: break-all;
    font-family: Roboto,sans-serif;
    color:  #32313a;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    padding: 4%
}

.descr{
    font-family: Roboto,sans-serif;
    color:  #32313a;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    word-break: break-all;
    width: 50%;
    margin-left: 90px
    flex-grow: 1;
    text-align: center;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 20px;
    padding: 40px;
}

.vyz{
    font-family: Roboto,sans-serif;
    color:  #32313a;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-left: 90px
    flex-grow: 1;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 40px;
}

.tags{
    font-family: Roboto,sans-serif;
    color:  #32313a;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 65px;
}

.tag_attr{
    font-family: Roboto,sans-serif;
    color:  #32313a;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.themes{
    font-family: Roboto,sans-serif;
    color:  #32313a;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 5px;
}



.bar{
    flex-direction: column;
    align-top: 10px;
}

.bar_img{
        flex-grow: 1;
        margin-left: 30%;
}

.oval{
    padding: 6px;
    background-color:  #f46137;
    width: 250px;
    height: 26px;
    border-radius: 500px; /* Радиус скругления */
    border: 3px; /* Параметры рамки */
    font-family: Roboto,sans-serif;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    color:  #ffffff;
}

.right{
    font-family: Roboto,sans-serif;

    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    flex-grow: 1;
    padding: 40px;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

.goto{
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 30%;
    margin-top: 60px;
    background-color:  #f46137;
    width: 400px;
    height: 26px;
    border-radius: 1500px; /* Радиус скругления */
    border: 3px; /* Параметры рамки */
    font-family: Roboto,sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}

.hat{
    font-family: Roboto,sans-serif;
    color:  #32313a;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    flex-grow: 1;
    padding: 40px;
    margin-bottom: 5%;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

.footer {
    background-color: dimgrey;
    text-align: center;
    color: floralwhite;
    font-size: 20px;
    padding: 40px;
    box-sizing: border-box;
}