<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>RoaDev</title>
    <link rel="stylesheet" href="/res/main.css">
</head>

<body>
	<!--менюха-->
    <nav class="menu">
        <menu class="menu__list">
            <li><a href="/"><img width="220" height="100" src="/res/lg.png"></a></li>
            <li class="menu__list-item"><a></a></li>
            <li><a href="projects.html" class="menu__list-link">Войти | Зарегистрироваться</a></li>
        </menu>
    </nav>


    {% block content %}{% endblock %}

    <!--подвал-->
    <!-- <div class="footer">
        Copyright 2017 &copy; DreamTeam </a>
    </div> -->
</body>

</html>
