{% extends "base.html" %}

{% block content %}
{% if model.type==0 %}

<h1>Профессия</h1>
{% else %}
<h1>Курс</h1>
{% endif %}

<!--<h1>{{model.name}}</h1>
<div class="descr" height=100% size="20">{{model.long_descr}}</div>
{% for tag in model.list_tags %}	
	<div> {{tag.name}} - {{tag.avg_value}}</div>
{% endfor %}

{% if model.type==0 %}
<form action="/roadmap" method="post" name="check">
	<button type="submit" name="button" value="{{model.id}}">Искать по этим тэгам</button>
</form>
{% endif %}-->

<div class="header">
    	<div class="text">Какой-то важный заголовок</div>
		<div class="search"action="" method="post">
			<input type="search" placeholder="Начните писать" size="40" name="query"/>
			<button type="submit">Найти</button>
		</div>
		<div class="small-text">Небольшое описание</div>
    </div>
    
	<div class="element">
	<div class="left">
		<div class="job">{{model.name}}</div>
		<div class="Description">{{model.long_descr}}</div>
	</div>
		<div class="right">
            <div class="right">
            <div class="oval"> Тег&nbsp;&nbsp;&nbsp;&nbsp;Рейтинг<!--diff_avg-->
            </div>
            <div class="tag">{{tag.name}} &nbsp;-&nbsp; {{tag.avg_value}}</div>
        </div>
        </div>
	</div>








{% endblock %}