{% extends "base.html" %}
{% block content %}

		<div class="header">
    	<div class="text">Выбери проффесию и найди курсы для обучения</div>
    	<div class="Buttons">
			<form action="" method="post" name="search">
				<input class="serchBox" type="text" size="40" name="query"/>
				<button type="submit">Найти</button>
				<br>
				<input class="radioBox" type="radio" name="mtype" value="0" checked="checked">Профессия<br>
				<input class="radioBox" type="radio" name="mtype" value="1">Курс
			</form>
		</div>
		<div class="small-text">Небольшое описание</div>
    </div>
{% if search %}

<!-- <h1>serch: {{search}}!</h1> /-->
	<div class="content">
    	<div class="popular_napr">Релевантные направления</div>
	{% for model in models %}	
    	<div class="element">
	    			<div class="hat"><a href="/id/{{model.id}}">{{model.name}}</a></div><!--name-->
	    			<!--<div class="vyz">Автор: УниверситетИТМО</div>short_descr-->
	    			<div class="descr">{{model.short_descr}}</div><!--lonh_descr-->
    				<div class="hard">Сложность: {{model.diff_avg}}/5<!--diff_avg--> <img src="/res/like.png"> {{model.likes_avg}} <p></p> 
    					{% for tag in model.list_tags[:4] %}	
    						<div class="tag"> {{tag.name}} - {{tag.avg_value}} <!--diff_count--></div>
    					{% endfor %}
					</div>
    				
    	</div>
	{% endfor %}
    </div>

{% else %}
	
{% endif %}

{% endblock %}